.nav-list {
  display: flex;
  justify-content: flex-end;

}

.nav-list li{
  list-style-type: none;
  padding: 10px;

}

.nav-bar {
  display: flex;
  justify-content: space-between;
}

.active {
  color: orangered;
}

.inactive {
  color: rgb(19, 8, 56);
}