html {
  font-size: 10px;
}

body {
  font-size: 2rem;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  color: rgb(19, 8, 56);
}

li {
  list-style-type: none;
}

h1,
h2 {
  font-family: 'Roboto Serif', sans-serif;
  line-height: 1.25;
}
